.footer-wrapper{
    .footer-contact-wrapper{
        width: 100px;
    }
    .footer-nav-wrapper{
        .footer-logo{
            img{
                width: 200px;
                height: 200px;
            }
        }
    }
}