.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100px;
  padding: 40px;
  margin-bottom: 40px;

  .left-nav-wrapper {
    display: none;
    @media only screen and (min-width: 450px) {
      display: flex;
      flex-direction: column;
    }
  }
  .mid-nav-wrapper {
    img {
      width: 250px;
      height: 100px;
      @media only screen and (min-width: 650px) {
        width: 250px;
        height: 100px;
      }
    }
  }
  .right-nav-wrapper {
    display: flex;
    flex-direction: column;
    .nav-link-wrapper {
      height: 22px;
      margin: auto 10px;
      font-size: 1.8rem;
      text-transform: uppercase;
      @media only screen and (min-width: 650px) {
        margin: auto 22px;
        font-size: 2.2rem;
      }
      a {
        transition: 0.5s ease-in-out;
        border-bottom: 1px solid transparent;
        color: $text-color;
        text-decoration: none;
        &:hover {
          color: $active-text-color;
          
        }
      }

      &:hover {
        color: $active-text-color;
      }
      .nav-link-active {
        border-bottom: 1px solid $active-text-color;
        color: $active-text-color;
      }
    }
  }
}
