.slides {
  min-width: 66%;
  max-width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .carousel-inner {
    min-width: calc(66vw);
    max-width: calc(66vw);
    img {
      min-width: calc(66vw);
      max-width: calc(66vw);
      height: 400px;
    }
  }
}
